<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{#if htmlWebpackPlugin.options.variables.appConfig.services.googleAnalyticsTrackingId}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{htmlWebpackPlugin.options.variables.appConfig.services.googleAnalyticsTrackingId}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{htmlWebpackPlugin.options.variables.appConfig.services.googleAnalyticsTrackingId}}');
    </script> {{/if}}

    <title>Loading...</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="content/favicon.ico" rel="icon" type="image/x-icon" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://apis.google.com/js/api.js"></script>

    <link href="content/css/codemirror/codemirror.css" rel="stylesheet">
    <link href="content/css/golden-layout/goldenlayout-base.css" rel="stylesheet">
</head>

<body>
    <script type="text/javascript">
        var theme = {
            isDark: false,
            styleLinks: [
                "content/css/bulma/bulmaswatch.default.min.css",
                "content/css/codemirror/themes/eclipse.css",
                "content/css/golden-layout/goldenlayout-light-theme.css"
            ]
        };
        try {
            window.appThemeNameLocalStorageKey = '{{htmlWebpackPlugin.options.variables.packageJson.name}}-{{htmlWebpackPlugin.options.variables.packageJson.version}}-theme-storage';
            console.log('storagekey', window.appThemeNameLocalStorageKey);
            var storedTheme = window.localStorage.getItem(window.appThemeNameLocalStorageKey);
            if (storedTheme) {
                var parsedTheme = JSON.parse(storedTheme);
                if (parsedTheme.styleLinks && Array.isArray(parsedTheme.styleLinks)) {
                    theme = parsedTheme;
                }
                if (theme.isDark) {
                    document.body.className = document.body.className + "is-dark";
                }
            }
        }
        catch (ex) {
        }

        function injectCssLink(linkUrl) {
            var link = document.createElement('link');
            link.setAttribute('rel', 'stylesheet');
            link.setAttribute('type', 'text/css');
            link.setAttribute('href', linkUrl + '?{{htmlWebpackPlugin.options.variables.appGitVersion}}');
            document.getElementsByTagName('head')[0].appendChild(link);
        }
        theme.styleLinks.forEach(x => injectCssLink(x));
    </script>

    <div id="app-container">
    </div>

    <script src="vendor.js?{{htmlWebpackPlugin.options.variables.appGitVersion}}"></script>

    <!--styles-->
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{this}}?{{../htmlWebpackPlugin.options.variables.appGitVersion}}" rel="stylesheet" /> {{/each}}

    <!--scripts-->
    {{#each htmlWebpackPlugin.files.chunks}}
    <script src="{{this.entry}}?{{../htmlWebpackPlugin.options.variables.appGitVersion}}"></script> {{/each}}

    <script>
        app.run();
    </script>
</body>

</html>